body {
    font-family: 'Raleway';
}

.main-content {
    margin-top: 100px;
}

.navbar {}

.nav-item {
    margin-right: 10px;
}

.icon-post {
    cursor: pointer;
}

.caption {
    font-size: 13px;
}

.custom-input-komentar {
    width: 85%;
    border-width: 0px;
    border: none;
    font-size: 14px;
    outline: none !important;
    padding: 3px;
}

.button-custom:focus {
    outline: none;
    box-shadow: none;
}

.addScroll {
    overflow-y: auto;
    height: 350px;
    width: 100%;
}
